@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;600&display=swap");

$main-color: #ffca41;
$main-font: #333333;
$body-bg: #e5e5e5;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  max-height: 100vh;
  font-family: "Dosis", sans-serif;
  color: $main-font;
  background-color: $body-bg;
}

a {
  text-decoration: none;
  color: inherit;
}

// --- Home ---

.all {
  margin-left: 0.7em;
  margin-top: 0.7em;
  h2 {
    background-color: $main-color;
    color: #fff;
    font-weight: 600;
    font-size: 1.875em;
    padding-left: 1em;
    width: 94%;
    position: absolute;
    top: 8.3em;
  }
  p {
    font-size: 1.2em;
    line-height: 1.5em;
    margin-bottom: 2.5em;
  }
}

.random {
  @extend .all;
  h2 {
    top: 22em;
  }
}

// --- Nav Bar ---

.nav {
  width: 94%;
  background-color: $main-color;
}

// --- Products Gallery ---

.main {
  margin-right: 0;
}

.product-card {
  margin-top: 1.5em;
  margin-left: 0.7em;
  margin-right: 0;
  display: flex;
  gap: 0.3em;
  img {
    width: 30%;
    height: 20vh;
    object-fit: contain;
  }
}

.content {
  margin-top: 1em;
  width: 45%;
  h3 {
    font-size: 1.875em;
  }
  p {
    &:nth-of-type(1) {
      font-weight: 600;
      font-size: 0.8em;
      color: $main-color;
      width: 100%;
    }
    &:nth-of-type(2) {
      font-size: 0.5em;
    }
  }
}
